/*=======*/
/*BANNER*/

#banner{
    background-image: url(img/header.jpg);
    position: relative;
    height: 15.625rem;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0.313rem;
}

#bannertext h2{
    color: white;
    position: absolute;
    top: 6.875rem;
    left: 56.563rem;
    font-size: xx-large;
}

#bannertext p{
    color: white;
    position: absolute;
    top: 10.625rem;
    left: 56.563rem;
}